<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--footer fragment-->

<div class="container" th:fragment="foot">
    <span class="text-muted">I do not own Frostgrave and am not involved in its creation. For more information, please visit <a target ="_blank" href="https://ospreypublishing.com/">Osprey Publishing.</a> Or buy the book <a target ="_blank" href="https://ospreypublishing.com/frostgrave-second-edition">here.</a></span>
</div>
</body>
</html>