<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type ="text/css"/>
    <title>Warband Builder - Frostgrave Companion</title>
</head>
<header>
    <div th:replace="~{fragments/nav :: nav}"></div>
</header>
<body>
<h2>Warband</h2>
<hr>
<a class="btn btn-primary btn-sm m-2" th:href="@{/wizard_creator}">New Wizard</a>
<a class="btn btn-primary btn-sm m-2" th:href="@{/apprentice_creator}">New Apprentice</a>
<a class="btn btn-primary btn-sm m-2" th:href="@{/warband_creator}">Add Member</a>
<a class="btn btn-primary btn-sm m-2 justify-content-end" th:href="@{/venture_forth}">Venture Forth</a>
<h3>Wizard and Apprentice</h3>
<hr>
<!--Wizard and Apprentice Tables-->
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>School</th>
        <th>Move</th>
        <th>Fight</th>
        <th>Shoot</th>
        <th>Armour</th>
        <th>Will</th>
        <th>Health</th>
        <th>XP</th>
        <th>Level</th>
        <th>Treasury</th>
        <th>Notes</th>
        <th>Actions</th>
    </thead>
    <tbody>
<!--    Database Pull for Wizard-->
        <tr th:each="wizard:${wizard}">
            <td th:text="${wizard.wizName}"></td>
            <td th:text="${wizard.school}"></td>
            <td th:text="${wizard.move}"></td>
            <td th:text="${wizard.fight}"></td>
            <td th:text="${wizard.shoot}"></td>
            <td th:text="${wizard.armour}"></td>
            <td th:text="${wizard.will}"></td>
            <td th:text="${wizard.health}"></td>
            <td th:text="${wizard.xp}"></td>
            <td th:text="${wizard.level}"></td>
            <td th:text="${wizard.treasury}"></td>
            <td th:text="${wizard.notes}"></td>
            <td>
<!--                update and remove-->
                <a th:href="@{/updateWizard(wizardId= ${wizard.wizardId})}" class = "btn btn-info ml-2">Update</a>
                <a th:href="@{/removeWizard(wizardId = ${wizard.wizardId})}" class="btn btn-danger ml-2">Remove</a>
            </td>
        </tr>
<!--    Database Pull for Apprentice-->
        <tr th:each="apprentice:${apprentice}">
            <td th:text="${apprentice.appName}"></td>
            <td>-</td>
            <td th:text="${apprentice.move}"></td>
            <td th:text="${apprentice.fight}"></td>
            <td th:text="${apprentice.shoot}"></td>
            <td th:text="${apprentice.armour}"></td>
            <td th:text="${apprentice.will}"></td>
            <td th:text="${apprentice.health}"></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td th:text="${apprentice.notes}"></td>
            <td>
<!--                update and remove-->
                <a th:href="@{/updateApprentice(apprenticeId = ${apprentice.apprenticeId})}" class = "btn btn-info ml-2">Update</a>
                <a th:href="@{/removeApprentice(apprenticeId = ${apprentice.apprenticeId})}" class="btn btn-danger ml-2">Remove</a>
            </td>
        </tr>
    </tbody>
</table>
<h3>Soldiers</h3>
<hr>
<!--Soldier Table-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Member</th>
            <th>Move</th>
            <th>Fight</th>
            <th>Shoot</th>
            <th>Armour</th>
            <th>Will</th>
            <th>Health</th>
            <th>Notes</th>
            <th>Specialist</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
<!--    Database Pull for Soldiers-->
        <tr th:each="warbands:${warbands}">
            <td th:text="${warbands.type}"></td>
            <td th:text="${warbands.move}"></td>
            <td th:text="${warbands.fight}"></td>
            <td th:text="${warbands.shoot}"></td>
            <td th:text="${warbands.armour}"></td>
            <td th:text="${warbands.will}"></td>
            <td th:text="${warbands.health}"></td>
            <td th:text="${warbands.notes}"></td>
            <td th:text="${warbands.specialist}"></td>
<!--            remove-->
            <td><a th:href="@{/removeMember(warbandId = ${warbands.warbandId})}" class="btn btn-danger ml-2">Remove</a> </td>
        </tr>
    </tbody>

</table>
</body>
<footer class="footer mt-auto py-3">
    <div class="container">
        <div th:replace="~{fragments/footer :: foot}"></div>
    </div>
</footer>
</html>