<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
<!--    <script defer th:src="@{/js/warband.js}"></script>-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type ="text/css"/>
    <title>Warband Builder - Frostgrave Companion</title>
</head>
<header>
    <div th:replace="~{fragments/nav :: nav}"></div>
</header>
<body>
<h2>Warband</h2>
<hr>
<a class="btn btn-primary m-2" th:href="@{/warband_creator}">Add Member</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Member</th>
            <th>Move</th>
            <th>Fight</th>
            <th>Shoot</th>
            <th>Armour</th>
            <th>Will</th>
            <th>Health</th>
            <th>Notes</th>
            <th>Specialist</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="warbands:${warbands}">
            <td th:text="${warbands.type}"></td>
            <td th:text="${warbands.move}"></td>
            <td th:text="${warbands.fight}"></td>
            <td th:text="${warbands.shoot}"></td>
            <td th:text="${warbands.armour}"></td>
            <td th:text="${warbands.will}"></td>
            <td th:text="${warbands.health}"></td>
            <td th:text="${warbands.notes}"></td>
            <td th:text="${warbands.specialist}"></td>
        </tr>
    </tbody>

</table>
</body>
<footer class="footer mt-auto py-3">
    <div class="container">
        <div th:replace="~{fragments/footer :: foot}"></div>
    </div>
</footer>
</html>